@import "tailwindcss";

@theme {
  --color-page-bg: #f1f2f5;
}

:root {
  --color-primary: #82411c;
}

body {
  background-color: var(--color-page-bg);
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }
  .bg-primary {
    background-color: var(--color-primary);
  }
}
